<div id="container">

    <h3 class="top-right-legend">Saturation</h3>
    <h3 class="bottom-left-legend">Hue</h3>
    
    <ul>
      <% for (var d in datas) { %>
        <li class="color-item" style="background-color: <%= datas[d].Hex %>; top: <%= datas[d].Hsv.s*4 %>px; left: <%= datas[d].Hsv.h*2 %>px;"></li>
      <% } %>
    </ul>

</div>