<html>
    <head>
        <title>Colors distribution mess on Viadeo CSS</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
    </head>
    
    <body>
        <%- body %>
    </body>
</html>