<html>
    <head>
        <title>Colors distribution mess on Viadeo CSS</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
    </head>
    
    <body>
        <%- body %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">

        	$('.color-item').on('click', function(){
        		var hexColor = $(this).attr('title');
        		$('#selected-color-hex').val(hexColor);
        	});

        </script>
    </body>
</html>